@import "../../app.scss";
.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #0c0c1d , #111132);


    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
    }
    .textcontainer{
        
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        z-index: 2;
        gap: 40px;


        @include mobile{
            height: 50%;
            width: 100%;
            gap: 20px;
            align-items: center;
            text-align: center;
        }
    


        h2{
            font-size: 30px;
            color: rebeccapurple;
            letter-spacing: 10px;
            @include mobile{
                font-size: 24px;
                padding-left: 15px;
            }
        }

        h1{
            font-size:88px ;

            @include mobile{
                font-size: 36px;
            }
        }

        .buttons{

            @include mobile{
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                gap: 20px;
            }
            button{
                padding: 20px;
                border: 1px solid white;
                border-radius: 10%;
                background-color: transparent;
                color: white;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 600;
                font-size: 15px;

            }

        }


        img{
            width: 50px;

        }
    }

.grid{
          
    height: 100%;
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    top : 0;
    right: 0;
  
    

    @include mobile{
        padding-bottom: 30px;
        height: 50%;
        width: 100%;
        top: unset;
        bottom: 0;
    }
    .hexagon-gallery{
        height: 454px;
        width: 495px;
        object-fit: cover ;
        position: relative;
        z-index: 2;
        display: grid;
        place-items: center;

        @include mobile{
            height: 320px;
            width: 370px;
        
        }

        .hexagon{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;


           

            .hex{
             width: 144px;
             height: 159px;
             display: flex;
             margin: 10px;
             background: white;
             clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
             justify-content: center;
             align-items: center;

             @include mobile{
                width: 100px;
                height: 110px;
                margin: 8px;
                
            }

             cursor: pointer;
             h1{
                color: #0c0c1d;
                font-family: "Libre Barcode 39 Text", system-ui;
                font-size: 35px;
                @include mobile{
                    font-size: 30px;
             }}
            span{
             width: 144px;
             height: 153px;
             display: flex;
             margin: 3px;
             background:linear-gradient(180deg, #0c0c1d , #111132);
             clip-path:polygon(50% 0% ,100% 25% ,100% 75% ,50% 100% , 0% 75% ,0% 25%);
             justify-content: center;
             align-items: center;

             @include mobile{
                width: 100px;
                height: 105px;
            }

             img{
               width: 65px;
               height:65px;
               object-fit: cover;}
           
            }
          
            }

        &:nth-child(1) {
            // Styles for the first hexagon
        top: 0;
        
        }
        &:nth-child(3) {
            // Styles for the first hexagon
        bottom: 0;

        }
        }
        }
      
    }
  
}



.slidingtext{
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    z-index: 1;
    

}
